.container{
    margin-top: 50px;
    margin-bottom: 50px;
}

.sector{
	display: flex;
	justify-content: space-between;
}

.city{
	width: 50% !important;
	margin-right: 10px;
}

.menu, .star{
	width: 94% !important;
}