h1 {
	display: inline;
}

.reviewpicTitle {
	width: 1500px;
	height: 50px;
	margin: 70px 0 20px -500px;
}

#reviewStar {
	float: right;
}

#revPicBox {
	width: 900px;
	display: inline-flex;
}

.revPics {
	width: 400px;
	height: 400px;
/* 	border: solid black 2px; */
	display: inline-flex;
	margin: 80px auto 15px auto;
	 overflow: hidden; 
}

#revTextBox{
	width: 1500px;
	display: inline-flex;
}

#revText {
	width: 1200px;
	height: 400px;
	border: solid black 2px;
	display: inline-flex;
	margin: 80px auto 15px auto;
}



/* 가져온것 */
.con{
	width: 150vw;
	transition:transform 0.5s;
	
}
.inn{
	width: 50vw;
	float: left;
	overflow: hidden;
}
/*
.inn img{
	width: 100%;
	
}
 .btnBox{
	display: inline-flex;
	margin: auto auto;
}

.btnL{
	width:100px;
	height:50px;
	float: left;
}
.btnR{
	width:100px;
	height:50px;
	float: right;
} */