

#reviewpicBox{
	
 width:1500px;
 height:300px;
 color: red;
/*  border: solid 2px black; */
 margin: 10px auto 70px auto;
 display:inline-flex;
 justify-content: space-between;
}



.reviewpicTitle{
	width: 1500px;
	
	height: 50px;
	margin: 70px 0 20px 70px;
	
}

.picsBox{
	width: 350px;
	height: 350px;
 	border: solid black 2px;
	border-radius: 20px;
	display: inline-flex;
	margin: 80px auto 15px auto;
}


#clcl{
	width: 200px;
	height: 200px;
}


#btnReview{
	margin: 50px 700px 0 300px;
}

-- 사진 업로드

  li {
      list-style: none;
    }

    img {
      width: 200px;
      height: 200px;
    }

    .real-upload {
      display: none;
    }

    .upload {
      width: 200px;
      height: 200px;
      display: flex;
    /*   background-color: antiquewhite; */
    }

    .image-preview {
      width: 1300px;
      height: 200px;
   /*    background-color: aquamarine; */
      display: flex;
      gap: 20px;
    }
    .fileResult{
    display: flex;
    }