<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  	<typeAliases>
  		<typeAlias type="com.project.mango.restaurant.RestaurantVO" alias="RestaurantVO"/>
  		<typeAlias type="com.project.mango.restaurant.RestaurantFileVO" alias="RestaurantFileVO"/>
  		<typeAlias type="com.project.mango.menu.MenuVO" alias="MenuVO"/>
  		<typeAlias type="com.project.mango.menu.MenuFileVO" alias="MenuFileVO"/>
  		<typeAlias type="com.project.mango.hashtag.HashtagVO" alias="HashtagVO"/>
  		<typeAlias type="com.project.mango.reservation.ReservationVO" alias="ReservationVO"/>
  		
  		
  		<typeAlias type="java.util.Map" alias="Map"/>
  		<typeAlias type="java.util.List" alias="List"/>

  		<typeAlias type="com.project.mango.member.MemberVO" alias="MemberVO"/>
  		<typeAlias type="com.project.mango.category.CategoryVO" alias="CategoryVO"/>

  	</typeAliases>
  </configuration>