<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	
	<typeAliases>

		<typeAlias type="java.util.List" alias="List" />
		<typeAlias type="java.lang.Long" alias="Long" />
		<typeAlias type="java.util.Map" alias="Map" />

		<typeAlias type="com.project.mango.review.ReviewVO"
			alias="ReviewVO" />
		<typeAlias type="com.project.mango.review.ReviewFilesVO"
			alias="ReviewFilesVO" />

		<typeAlias type="com.project.mango.restaurant.RestaurantVO"
			alias="RestaurantVO" />
		<typeAlias
			type="com.project.mango.restaurant.RestaurantFileVO"
			alias="RestaurantFileVO" />

		<typeAlias type="com.project.mango.restaurant.CategoryVO"
			alias="CategoryVO" />

		<typeAlias type="com.project.mango.menu.MenuVO"
			alias="MenuVO" />
		<typeAlias type="com.project.mango.menu.MenuFileVO"
			alias="MenuFileVO" />

		<typeAlias type="com.project.mango.hashtag.HashtagVO"
			alias="HashtagVO" />
			
		<typeAlias
			type="com.project.mango.reservation.ReservationVO"
			alias="ReservationVO" />

		<typeAlias type="com.project.mango.member.MemberVO"
				alias="MemberVO" />
		
		<typeAlias type="com.project.mango.member.MemberFileVO"
				alias="MemberFileVO"/>
	
		<typeAlias type="com.project.mango.search.SearchVO"
				alias="SearchVO"/>
				
	  	<typeAlias type="com.project.mango.cart.CartVO"
	  			alias="CartVO"/>
	  			
	  	<typeAlias type="com.project.mango.wishlist.WishlistVO" 
	  			alias="WishlistVO"/>

  		<typeAlias type="com.project.mango.notice.NoticeVO" alias="NoticeVO"/>
  		<typeAlias type="com.project.mango.notice.NoticeFilesVO" alias="NoticeFilesVO"/>
  		<typeAlias type="com.project.mango.board.BoardVO" alias="BoardVO"/>
  		<typeAlias type="com.project.mango.notice.restaurant.ResNoticeVO" alias="ResNoticeVO"/>
  		<typeAlias type="com.project.mango.notice.restaurant.ResFilesVO" alias="ResFilesVO"/>
  		<typeAlias type="com.project.mango.util.Pager" alias="Pager"/>

  	</typeAliases>
  	
</configuration>

  	

