<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mango.cart.CartMapper">
	<resultMap type="CartVO" id="CartVO">
		<id column="cartNum" property="cartNum"/>
		<result column="id" property="id"/>
		<result column="menuNum" property="menuNum"/>
		<result column="menuCount" property="menuCount"/>
		<association property="menuVOs" javaType="MenuVO" >
			<id column="menuNum" property="menuNum"/>
			<result column="restaurantNum" property="restaurantNum"/>
			<result column="name" property="name"/>
			<result column="price" property="price"/>
			<result column="detail" property="detail"/>
			<association property="menuFileVO" javaType="MenuFileVO">
				<id column="fileNum" property="fileNum"/>
				<result column="menuNum" property="menuNum"/>
				<result column="fileName" property="fileName"/>
				<result column="oriName" property="oriName"/>
			</association>
			<!-- <association property="paymentDetailVO" javaType="PaymentDetailVO">
				<id column="payDetailNum" property="payDetailNum"/>
				<result column="payNum" property="payNum"/>
				<result column="menuNum" property="menuNum"/>
				<result column="menuCount" property="menuCount"/>
			</association> -->
		</association>
		
	</resultMap>
	
	<select id="cartList" parameterType="CartVO" resultMap="CartVO">
		SELECT * FROM CART C
		LEFT OUTER JOIN MENU M
		ON C.MENUNUM = M.MENUNUM
		LEFT OUTER JOIN MENU_FILE MF
		ON M.MENUNUM = MF.MENUNUM
		WHERE C.ID = #{id}
		ORDER BY CARTNUM
	</select>
	<update id="cartCountPlus" parameterType="CartVO">
		UPDATE CART SET MENUCOUNT = MENUCOUNT + 1 WHERE CARTNUM = #{cartNum}
	</update>
	<update id="cartCountMinus" parameterType="CartVO">
		UPDATE CART SET MENUCOUNT = MENUCOUNT - 1 WHERE CARTNUM = #{cartNum}
	</update>
	<delete id="cartListDelete" parameterType="Long">
		DELETE FROM CART WHERE CARTNUM = #{cartNum}
	</delete>
	<select id="cartOrder" parameterType="Long" resultMap="CartVO">
		SELECT * FROM CART C
		LEFT OUTER JOIN MENU M
		ON (C.MENUNUM = M.MENUNUM)
		LEFT OUTER JOIN MEMBER MB
		ON (C.ID = MB.ID)
		WHERE C.CARTNUM = #{cartNum}
	</select>

	<insert id="order" parameterType="PaymentVO">
		INSERT INTO PAYMENT(PAYNUM, PAYCHECK, TOTALPRICE, PAYDATE, WAITING, STATUS, PAYTYPE, ID)
		VALUES(#{payNum}, 0, #{totalPrice}, NOW(), 30, 0, '무통장입금', #{id})
	</insert>
	<insert id="detailOrder" parameterType="PaymentDetailVO">
		INSERT INTO PAYMENT_DETAIL(PAYNUM, MENUNUM, MENUCOUNT)
		VALUES(#{payNum}, #{menuNum}, #{menuCount})
	</insert>
	
	<insert id="kakaoPayOrderComplete" parameterType="PaymentVO">
		INSERT INTO PAYMENT
		VALUES(#{payNum}, 1, #{totalPrice}, NOW(), 30, 0, '카카오페이', #{id})
	</insert>
	
	
</mapper>