<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mango.review.ReviewMapper">

<update id="setReport" parameterType="ReviewVO">
UPDATE REVIEW SET REPORTCHECK=#{reportCheck}, REPORTOPTION = #{reportOption} WHERE REVIEWNUM=#{reviewNum}
</update>

	<delete id="setDelete" parameterType="ReviewVO">
		DELETE FROM REVIEW WHERE REVIEWNUM=#{reviewNum}
	</delete>

	<select id="getFileDetail" parameterType="ReviewFilesVO" resultType="ReviewFilesVO">
		SELECT * FROM REVIEW_FILE WHERE FILENUM=#{fileNum} 
	</select>
	
	<delete id="setFileDelete" parameterType="ReviewFilesVO">
		DELETE FROM REVIEW_FILE WHERE FILENUM=#{fileNum}
	</delete>

	<select id="getFileList" parameterType="ReviewVO" resultType="ReviewFilesVO">
		SELECT * FROM REVIEW_FILE WHERE REVIEWNUM=#{reviewNum}
	</select>


	<insert id="setFileAdd" parameterType="ReviewFilesVO">
		INSERT INTO
		REVIEW_FILE(FILENUM,REVIEWNUM,FILENAME,ORINAME)
		VALUES(NULL,#{reviewNum},#{fileName},#{oriName})
	</insert>



	<insert id="setAdd" parameterType="ReviewVO"
		useGeneratedKeys="true" keyProperty="reviewNum">

		INSERT INTO REVIEW
		(REVIEWNUM,ID,RESTAURANTNUM,RESERVATIONNUM,STAR,REGDATE,REPORTCHECK,CONTENTS)
		VALUES(#{reviewNum},#{id},1,1,#{star},NOW(),0,#{contents})

	</insert>
	
	<update id="setUpdate"  parameterType="ReviewVO">
	
		UPDATE REVIEW SET STAR= #{star}, CONTENTS = #{contents} WHERE REVIEWNUM=#{reviewNum}
	</update>
	
	

	<select id="getDetailReview" parameterType="ReviewVO"
		resultMap="getReviewDetail">
		SELECT R.*,RF.*
		FROM REVIEW R
		LEFT JOIN
		REVIEW_FILE RF
		USING(REVIEWNUM)
		WHERE REVIEWNUM=#{reviewNum}
	</select>

	<resultMap type="ReviewVO" id="getReviewDetail">
		<id column="reviewNum" property="reviewNum" />
		<result column="id" property="id" />
		<result column="restaurantNum" property="restaurantNum" />
		<result column="reservationNum" property="reservationNum" />
		<result column="star" property="star" />
		<result column="regDate" property="regDate" />
		<result column="reportCheck" property="reportCheck" />
		<result column="contents" property="contents" />

		<collection property="reviewFilesVOs" javaType="List"
			ofType="ReviewFilesVO">
			<id column="fileNum" property="fileNum" />
			<result column="fileName" property="fileName" />
			<result column="oriName" property="oriName" />
		</collection>
	</resultMap>


	<select id="getListReview" parameterType="ReviewVO"
		resultType="ReviewVO">
		SELECT * FROM REVIEW WHERE RESTAURANTNUM=#{restaurantNum} AND STAR
		BETWEEN #{rssNum} AND #{rseNum} ORDER BY REVIEWNUM DESC  <!-- AND STAR BETWEEN 2 AND 3 -->
	</select>

	<!-- 리뷰 전체 갯수 -->
	<select id="countReview" parameterType="ReviewVO"
		resultType="Long">
		SELECT COUNT(REVIEWNUM) FROM REVIEW WHERE
		RESTAURANTNUM=#{restaurantNum}
	</select>

	<!-- 리뷰 맛있어요 갯수 -->
	<select id="goodCount" parameterType="ReviewVO"
		resultType="Long">
		SELECT COUNT(REVIEWNUM) FROM REVIEW WHERE
		RESTAURANTNUM=#{restaurantNum} AND STAR>=4
	</select>

	<!-- 리뷰 보통이에요 갯수 -->
	<select id="normalCount" parameterType="ReviewVO"
		resultType="Long">
		SELECT COUNT(REVIEWNUM) FROM REVIEW WHERE
		RESTAURANTNUM=#{restaurantNum}
		AND STAR BETWEEN 2
		AND 3
	</select>

	<!-- 리뷰 별로에요 갯수 -->
	<select id="badCount" parameterType="ReviewVO" resultType="Long">
		SELECT COUNT(REVIEWNUM) FROM REVIEW WHERE
		RESTAURANTNUM=#{restaurantNum} AND STAR BETWEEN 0 AND 2
	</select>

	<!-- <select id="restaurantDetail" parameterType="RestaurantVO" resultMap="restaurantResult"> 
		SELECT RES.*,REV.* FROM RESTAURANT RES INNER JOIN REVIEW REV USING(RESTAURANTNUM) 
		WHERE RESTAURANTNUM = #{RESTAURANTNUM} </select> <resultMap type="RestaurantVO" 
		id="restaurantResult"> <id column="restaurantNum" property="restaurantNum" 
		/> <result column="id" property="id" /> <result column="restaurantName" property="restaurantName" 
		/> <result column="restaurantPhone" property="restaurantPhone" /> <result 
		column="postCode" property="postCode" /> <result column="address" property="address" 
		/> <result column="detailAddress" property="detailAddress" /> <result column="extraAddress" 
		property="extraAddress" /> <result column="regDate" property="regDate" /> 
		<result column="editDate" property="editDate" /> <result column="parkingCheck" 
		property="parkingCheck" /> <result column="kidCheck" property="kidCheck" 
		/> <result column="introduction" property="introduction" /> <result column="accountNumber" 
		property="accountNumber" /> <collection property="reviewVO" javaType="List" 
		ofType="ReviewVO"> <id column="reviewNum" property="reviewNum" /> <result 
		column="id" property="id" /> <result column="reservationNum" property="reservationNum" 
		/> <result column="star" property="star" /> <result column="regDate" property="regDate" 
		/> <result column="reportCheck" property="reportCheck" /> <result column="contents" 
		property="contents" /> </collection> </resultMap> -->



</mapper>