<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mango.review.ReviewMapper">
	<insert id="setAdd" parameterType="ReviewVO">

		INSERT INTO REVIEW
		(REVIEWNUM,ID,RESTAURANTNUM,RESERVATIONNUM,STAR,REGDATE,REPORTCHECK,CONTENTS)
		VALUES(NULL,'noID',1,1,#{star},NOW(),0,#{contents})
		
	</insert>



</mapper>